[Unit]
Description=rpi_zrct300_vlc
After=multi-user.target

[Service]
Type=idle
ExecStart=REPLACE/start_controller.sh

[Install]
WantedBy=multi-user.target
