
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} ZRCT-300 Controller {% endblock %}</h1>
    <body>
        <div class="container">            
            <map id="imgmap20246268412" name="imgmap20246268412">
                <area shape="circle" alt="" title="Standby" coords="100,100,40" href="?function=PowerOff" target="_self" />
                <area shape="circle" alt="" title="PowerOn" coords="540,100,40" href="?function=PowerOn" target="_self" />
                <area shape="circle" alt="" title="PictureMuteOn" coords="245,100,40" href="?function=PictureMuteOn" target="_self" />
                <area shape="circle" alt="" title="PictureMuteOff" coords="390,100,40" href="?function=PictureMuteOff" target="_self" />
                
                <area shape="circle" alt="" title="HDMI1" coords="100,200,40" href="?function=InputHDMI1" target="_self" />
                <area shape="circle" alt="" title="HDMI2" coords="210,200,40" href="?function=InputHDMI2" target="_self" />
                <area shape="circle" alt="" title="DP1" coords="320,200,40" href="?function=InputDP1" target="_self" />
                <area shape="circle" alt="" title="DP2" coords="430,200,40" href="?function=InputDP2" target="_self" />
                <area shape="circle" alt="" title="DP1/2" coords="540,200,40" href="?function=InputDP12" target="_self" />

                <area shape="circle" alt="" title="LightOutput1" coords="100,300,40" href="?function=LightOutput1" target="_self" />
                <area shape="circle" alt="" title="LightOutput2" coords="210,300,40" href="?function=LightOutput2" target="_self" />
                <area shape="circle" alt="" title="LightOutput3" coords="320,300,40" href="?function=LightOutput3" target="_self" />
                <area shape="circle" alt="" title="LightOutput4" coords="430,300,40" href="?function=LightOutput4" target="_self" />
                <area shape="circle" alt="" title="LightOutput6" coords="540,300,40" href="?function=LightOutput6" target="_self" />

                <area shape="circle" alt="" title="SDR" coords="100,400,40" href="?function=SDR" target="_self" />
                <area shape="circle" alt="" title="HDR" coords="210,400,40" href="?function=HDR" target="_self" />
                <area shape="circle" alt="" title="RealityCreationOn" coords="430,400,40" href="?function=RealityCreationOn" target="_self" />
                <area shape="circle" alt="" title="RealityCreationOff" coords="540,400,40" href="?function=RealityCreationOff" target="_self" />

                <area shape="circle" alt="" title="MotionFlowOff" coords="100,500,40" href="?function=MotionFlowOff" target="_self" />
                <area shape="circle" alt="" title="MotionFlow1" coords="210,500,40" href="?function=MotionFlow1" target="_self" />
                <area shape="circle" alt="" title="MotionFlow2" coords="320,500,40" href="?function=MotionFlow2" target="_self" />
                <area shape="circle" alt="" title="MotionFlow3" coords="430,500,40" href="?function=MotionFlow3" target="_self" />
                <area shape="circle" alt="" title="MotionFlow4" coords="540,500,40" href="?function=MotionFlow4" target="_self" />

                <area shape="circle" alt="" title="WideModeNormal" coords="100,600,40" href="?function=WideModeNormal" target="_self" />
                <area shape="circle" alt="" title="WideModeFull" coords="210,600,40" href="?function=WideModeFull" target="_self" />
                <area shape="circle" alt="" title="WideModeZoom" coords="320,600,40" href="?function=WideModeZoom" target="_self" />
                <area shape="circle" alt="" title="WideModeStretch" coords="430,600,40" href="?function=WideModeStretch" target="_self" />
                <area shape="circle" alt="" title="WideModeNative" coords="540,600,40" href="?function=WideModeNative" target="_self" />

                <area shape="circle" alt="" title="Preset1" coords="100,700,40" href="?function=Preset1" target="_self" />
                <area shape="circle" alt="" title="Preset2" coords="210,700,40" href="?function=Preset2" target="_self" />
                <area shape="circle" alt="" title="Preset3" coords="320,700,40" href="?function=Preset3" target="_self" />
                <area shape="circle" alt="" title="Preset4" coords="430,700,40" href="?function=Preset4" target="_self" />
                <area shape="circle" alt="" title="Status" coords="540,700,40" href="?function=Status" target="_self" />
            </map>
            <img src="images/cled_landscape.png" usemap="#imgmap20246268412" class="img-fluid">
        </div>

        <div class="container">
            {% if status %}
                <div id="status-list-text">
                    {% for list_value in status %}
                        {{ list_value }}<br>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                        // location.reload()
                        document.getElementById('status-list-text').style.display = 'none'
                    }, 5000)
                </script>
            {% endif %}
        </div>    

    </body>
{% endblock %}